/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #63b0e4, #a976ec);
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}

/* Main container styling */
.container {
  display: flex;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
  align-items: stretch;
  background-color: #f1faff;
  border-radius: 12px;
  padding: 20px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* align-items: center; */
}

.w3-modal {
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
}

.dialog {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 300px;
  max-width: 500px;
  background-color: #f1faff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.tab-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-tab-bar {
  display: flex;
  align-items: stretch;
  border-radius: 6px;
  padding: 10px;
  background-color: #e5e7eb;
  gap: 10px;
}

.tab-link {
  flex-grow: 1;
  border-radius: 6px;
  font-weight: normal !important;
  font-size: 13px !important;
}

.settingSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #e5e7eb;
}

.turn-modes-containter {
  display: flex;
  gap: 10px;
}

.turn-modes-button {
  border-radius: 12px;
  background-color: #e5e7eb;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #252525 !important;
}

.position-button {
  border-radius: 12px;
  background-color: #0F0F0F;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #fff !important;
}

/* Header styling */
.header {
  font-size: 24px;
  font-weight: bold;
  color: #2A2A72;
  margin-bottom: 20px;
}

/* Button styling */
.button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}

.button-single {
  background-color: #0F0F0F;
}

.button-infinite {
  background-color: #28A745;
}

/* Speed label styling */
.speed-label {
  margin-top: 15px;
  font-size: 16px;
  color: #4d4d4d;
}

/* Slider styling */
.slider {
  width: 100%;
  margin: 10px 0;
  appearance: none;
  height: 4px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

/* Settings and Login button styling */
.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top-buttons button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
}

/* Current motor speeds box */
.speed-info {
  text-align: left;
  background-color: #e6f0ff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

/* Captive Page */
.form-container {
  background-color: #e6f0ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  gap: 10px;
}

.form-container .link {
  width: 100%;
  padding: 10px;
  color: #000;
  background-color: #e1d3c8;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.form-container .link:hover {
  color: #000;
  background-color: #e3af88;
}

form legend {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: #000;
  background-color: #89c1e7;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #63b0e4;
}

.wifi-status-container {
  background-color: #e6f0ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 5px;
}

.status-message {
  margin-top: 20px;
  font-size: 1em;
  color: red;
}
.ip-address {
  display: none;
  font-size: 1em;
  margin-top: 10px;
}
.copy-button {
  display: none;
  width: 100%;
  padding: 10px;
  color: #000;
  background-color: #e3af88;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}

.copy-button:hover {
  background-color: #e1d3c8;
}